# CUDA 13.x install profile for hydra-suite
# Install with: uv pip install -v -r requirements-cuda13.txt

--extra-index-url https://download.pytorch.org/whl/cu130
-r requirements-cuda.txt

tensorrt-cu13
tensorrt-cu13-bindings
tensorrt-cu13-libs

hnswlib
usearch
annoy

--pre
-f https://pip.cupy.dev/pre
cupy-cuda13x
